# NEXT_PUBLIC_APP_NAME=MedkwikHealthbuddy
# NEXT_PUBLIC_APP_URL=https://your-vercel-admin-domain.vercel.app
# AUTH_URL=https://your-vercel-admin-domain.vercel.app

# NEXT_PUBLIC_API_URL=https://api.medikwikhealthbuddy.in
# BACKEND_URL=https://api.medikwikhealthbuddy.in

# NEXT_PUBLIC_TURNSTILE_SITE_KEY=
# JWT_REFRESH_SECRET=

# NEXT_PUBLIC_SITE_NAME="MedKwik HealthBuddy Admin Dashboard"
# NEXT_PUBLIC_SITE_URL=https://your-vercel-admin-domain.vercel.app
